<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Models-ID</key>
  <dict>
    <key>0-0</key>
    <string>2w9a</string>
    <key>0-4</key>
    <string>2w9a</string>
    <key>0-5</key>
    <string>2w9a</string>
    <key>1-1</key>
    <string>2w9e</string>
    <key>1-2</key>
    <string>2w9f</string>
    <key>1-3</key>
    <string>2w9f</string>
    <key>1-4</key>
    <string>2w9j</string>
    <key>1-5</key>
    <string>2w9t</string>
    <key>1-6</key>
    <string>2w9u</string>
    <key>1-7</key>
    <string>2w9w</string>
    <key>1-8</key>
    <string>2w9y</string>
    <key>1-9</key>
    <string>2wA3</string>
    <key>1-10</key>
    <string>2wA6</string>
    <key>1-11</key>
    <string>2wAC</string>
    <key>1-12</key>
    <string>2wAD</string>
    <key>1-13</key>
    <string>2wAE</string>
    <key>1-14</key>
    <string>2wAF</string>
    <key>1-15</key>
    <string>2wAI</string>
    <key>1-16</key>
    <string>2wAJ</string>
    <key>1-17</key>
    <string>2wDX</string>
    <key>1-18</key>
    <string>2wDL</string>
    <key>1-19</key>
    <string>2wDM</string>
    <key>1-20</key>
    <string>2wDN</string>
    <key>1-21</key>
    <string>2wDK</string>
    <key>1-22</key>
    <string>2wDR</string>
    <key>1-23</key>
    <string>2wDT</string>
    <key>1-25</key>
    <string>2wAO</string>
    <key>1-26</key>
    <string>2wAR</string>
    <key>1-27</key>
    <string>2wAW</string>
    <key>1-28</key>
    <string>2wAZ</string>
    <key>1-29</key>
    <string>2wAd</string>
    <key>1-30</key>
    <string>2wAe</string>
    <key>1-31</key>
    <string>2wAj</string>
    <key>1-32</key>
    <string>2wDG</string>
    <key>1-33</key>
    <string>2wDH</string>
    <key>1-34</key>
    <string>2wDI</string>
    <key>3-3</key>
    <string>2wDY</string>
    <key>3-4</key>
    <string>2wDY</string>
    <key>3-5</key>
    <string>2wDi</string>
    <key>01</key>
    <string>2waT</string>
    <key>02</key>
    <string>2w9f</string>
    <key>03</key>
    <string>2waU</string>
    <key>04</key>
    <string>2w9j</string>
    <key>05</key>
    <string>2wDX</string>
    <key>06</key>
    <string>2wDM</string>
    <key>07</key>
    <string>2waV</string>
    <key>08</key>
    <string>2wAe</string>
    <key>09</key>
    <string>2wAW</string>
    <key>10</key>
    <string>2wAR</string>
    <key>11</key>
    <string>2wAj</string>
    <key>12</key>
    <string>2waW</string>
    <key>13</key>
    <string>2waa</string>
    <key>14</key>
    <string>2waZ</string>
    <key>15</key>
    <string>2wab</string>
    <key>16</key>
    <string>2wad</string>
    <key>17</key>
    <string>2waj</string>
    <key>18</key>
    <string>2wae</string>
    <key>19</key>
    <string>2wag</string>
    <key>01-1</key>
    <string>2rK1</string>
    <key>02-1</key>
    <string>2wnF</string>
    <key>03-1</key>
    <string>2wnP</string>
    <key>04-1</key>
    <string>2wnR</string>
    <key>05-1</key>
    <string>2wni</string>
    <key>06-1</key>
    <string>2wnO</string>
    <key>07-1</key>
    <string>2wnj</string>
    <key>08-1</key>
    <string>2wnV</string>
    <key>09-1</key>
    <string>2w9e</string>
    <key>10-199</key>
    <string>2w9e</string>
    <key>11-199</key>
    <string>2w9f</string>
    <key>12-199</key>
    <string>2waW</string>
    <key>13-199</key>
    <string>2w9e</string>
    <key>14-199</key>
    <string>2w9f</string>
    <key>15-199</key>
    <string>2w9j</string>
    <key>16-199</key>
    <string>2w9t</string>
    <key>17-199</key>
    <string>2wAD</string>
    <key>18-199</key>
    <string>2wA6</string>
    <key>19-199</key>
    <string>2wA6</string>
    <key>20-199</key>
    <string>2w9y</string>
    <key>21-199</key>
    <string>2wA3</string>
    <key>22-199</key>
    <string>2wAC</string>
    <key>23-199</key>
    <string>2w9w</string>
    <key>24-199</key>
    <string>2w9u</string>
    <key>25-199</key>
    <string>2woD</string>
    <key>26-199</key>
    <string>2woK</string>
    <key>2-15</key>
    <string>2yC0</string>
    <key>2-14</key>
    <string>2yBz</string>
    <key>2-13</key>
    <string>2yBx</string>
    <key>2-12</key>
    <string>2yBw</string>
    <key>2-10</key>
    <string>2yBv</string>
    <key>2-11</key>
    <string>2yBo</string>
    <key>2-9</key>
    <string>2yBk</string>
    <key>3-31</key>
    <string>2yBh</string>
    <key>3-32</key>
    <string>2yBf</string>
    <key>3-33</key>
    <string>2yBd</string>
    <key>3-35</key>
    <string>2yBb</string>
    <key>6-3</key>
    <string>2yBa</string>
    <key>6-8</key>
    <string>2xwm</string>
    <key>6-2</key>
    <string>2xwk</string>
    <key>6-7</key>
    <string>2xwc</string>
    <key>6-6</key>
    <string>2xwZ</string>
    <key>6-1</key>
    <string>2xwY</string>
    <key>003-4</key>
    <string>2xwW</string>
    <key>5-20</key>
    <string>2xwT</string>
    <key>5-16</key>
    <string>2xwS</string>
    <key>5-15</key>
    <string>2xwR</string>
    <key>5-14</key>
    <string>2xwP</string>
    <key>5-13</key>
    <string>2xwM</string>
    <key>5-12</key>
    <string>2xwL</string>
    <key>5-11</key>
    <string>2xwK</string>
    <key>5-9</key>
    <string>2xwJ</string>
    <key>5-7</key>
    <string>2xwI</string>
    <key>5-6</key>
    <string>2xwH</string>
    <key>4-22</key>
    <string>2xua</string>
    <key>5-2</key>
    <string>2xwD</string>
    <key>5-1</key>
    <string>2xv6</string>
    <key>4-23</key>
    <string>2xv5</string>
    <key>4-24</key>
    <string>2xv1</string>
    <key>4-25</key>
    <string>2xuw</string>
    <key>004-14</key>
    <string>2xuj</string>
    <key>4-21</key>
    <string>2xua</string>
    <key>4-20</key>
    <string>2xu4</string>
    <key>4-19</key>
    <string>2xi4</string>
    <key>4-18</key>
    <string>2xi1</string>
    <key>4-15</key>
    <string>2xhl</string>
    <key>4-17</key>
    <string>2xhr</string>
    <key>4-14</key>
    <string>2xhe</string>
    <key>4-13</key>
    <string>2xeI</string>
    <key>4-11</key>
    <string>2xeE</string>
    <key>4-6</key>
    <string>2xeD</string>
    <key>4-7</key>
    <string>2xdW</string>
    <key>4-9</key>
    <string>2xdR</string>
    <key>4-3</key>
    <string>2xdQ</string>
    <key>4-2</key>
    <string>2xdL</string>
    <key>3-42</key>
    <string>2xd1</string>
    <key>3-40</key>
    <string>2xcw</string>
    <key>3-16</key>
    <string>2xS7</string>
    <key>3-6</key>
    <string>2wDu</string>
    <key>3-7</key>
    <string>2xKx</string>
    <key>3-34</key>
    <string>2yBd</string>
    <key>5-17</key>
    <string>2xwT</string>
    <key>5-18</key>
    <string>2xwT</string>
    <key>5-19</key>
    <string>2xwT</string>
    <key>3-2-10</key>
    <string>2xwL</string>
    <key>5-8</key>
    <string>2xwJ</string>
    <key>5-10</key>
    <string>2xwJ</string>
    <key>3-41</key>
    <string>2xd1</string>
    <key>4-20a</key>
    <string>2xu4</string>
    <key>3-17</key>
    <string>2xS7</string>
    <key>190606-65</key>
    <string>2yC0</string>
    <key>190606-66</key>
    <string>2yBz</string>
    <key>190606-67</key>
    <string>2yBx</string>
    <key>190606-68</key>
    <string>2yBw</string>
    <key>190606-69</key>
    <string>2yBv</string>
    <key>190606-70</key>
    <string>2yBo</string>
    <key>190606-71</key>
    <string>2yBk</string>
    <key>190606-72</key>
    <string>2yBh</string>
    <key>190606-73</key>
    <string>2yBf</string>
    <key>190606-74</key>
    <string>2yBd</string>
    <key>190606-75</key>
    <string>2yBb</string>
    <key>190606-76</key>
    <string>2yBa</string>
    <key>190606-77</key>
    <string>2yBd</string>
    <key>190606-78</key>
    <string>2yBb</string>
  </dict>
  <key>Models-Names</key>
  <dict>
    <key>0-0</key>
    <string>解剖学姿势</string>
    <key>0-4</key>
    <string>解剖学姿势</string>
    <key>0-5</key>
    <string>解剖学姿势</string>
    <key>1-1</key>
    <string>全身骨骼</string>
    <key>1-2</key>
    <string>长骨的构造</string>
    <key>1-3</key>
    <string>长骨的构造</string>
    <key>1-4</key>
    <string>胸椎</string>
    <key>1-5</key>
    <string>颈椎</string>
    <key>1-6</key>
    <string>隆椎</string>
    <key>1-7</key>
    <string>寰椎</string>
    <key>1-8</key>
    <string>枢椎</string>
    <key>1-9</key>
    <string>腰椎</string>
    <key>1-10</key>
    <string>骶骨&amp;尾骨</string>
    <key>1-11</key>
    <string>肋骨</string>
    <key>1-12</key>
    <string>胸骨</string>
    <key>1-13</key>
    <string>颞骨</string>
    <key>1-14</key>
    <string>蝶骨</string>
    <key>1-15</key>
    <string>筛骨</string>
    <key>1-16</key>
    <string>下颌骨</string>
    <key>1-17</key>
    <string>颅底内面观</string>
    <key>1-18</key>
    <string>颅底外面观</string>
    <key>1-19</key>
    <string>颅侧面观</string>
    <key>1-20</key>
    <string>翼腭窝</string>
    <key>1-21</key>
    <string>颅前面观</string>
    <key>1-22</key>
    <string>鼻腔外侧壁</string>
    <key>1-23</key>
    <string>鼻旁窦及其开口</string>
    <key>1-25</key>
    <string>锁骨</string>
    <key>1-26</key>
    <string>肩胛骨</string>
    <key>1-27</key>
    <string>肱骨</string>
    <key>1-28</key>
    <string>桡骨&amp;尺骨</string>
    <key>1-29</key>
    <string>手骨</string>
    <key>1-30</key>
    <string>髋骨</string>
    <key>1-31</key>
    <string>股骨</string>
    <key>1-32</key>
    <string>髌骨</string>
    <key>1-33</key>
    <string>胫骨&amp;腓骨</string>
    <key>1-34</key>
    <string>足骨</string>
    <key>3-3</key>
    <string>肌的辅助装置</string>
    <key>3-4</key>
    <string>肌的辅助装置</string>
    <key>3-5</key>
    <string>背肌</string>
    <key>01</key>
    <string>骨骼系统</string>
    <key>02</key>
    <string>长骨的构造</string>
    <key>03</key>
    <string>胸骨&amp;肋骨</string>
    <key>04</key>
    <string>胸椎</string>
    <key>05</key>
    <string>颅底内面观</string>
    <key>06</key>
    <string>颅侧面观</string>
    <key>07</key>
    <string>下颌骨</string>
    <key>08</key>
    <string>髋骨</string>
    <key>09</key>
    <string>肱骨</string>
    <key>10</key>
    <string>肩胛骨</string>
    <key>11</key>
    <string>股骨</string>
    <key>12</key>
    <string>躯干骨连结</string>
    <key>13</key>
    <string>肩关节</string>
    <key>14</key>
    <string>髋关节</string>
    <key>15</key>
    <string>膝关节</string>
    <key>16</key>
    <string>消化系统</string>
    <key>17</key>
    <string>鼻咽部</string>
    <key>18</key>
    <string>直肠</string>
    <key>19</key>
    <string>大肠横断面</string>
    <key>01-1</key>
    <string>医得魔方：心脏</string>
    <key>02-1</key>
    <string>医得魔方：呼吸</string>
    <key>03-1</key>
    <string>医得魔方：前庭蜗</string>
    <key>04-1</key>
    <string>医得魔方：视器</string>
    <key>05-1</key>
    <string>医得魔方：泌尿</string>
    <key>06-1</key>
    <string>医得魔方：消化</string>
    <key>07-1</key>
    <string>医得魔方：女性生殖</string>
    <key>08-1</key>
    <string>医得魔方：脑</string>
    <key>09-1</key>
    <string>全身骨</string>
    <key>10-199</key>
    <string>全身骨</string>
    <key>11-199</key>
    <string>长骨的构造</string>
    <key>12-199</key>
    <string>脊柱</string>
    <key>13-199</key>
    <string>全身骨骼</string>
    <key>14-199</key>
    <string>长骨的构造</string>
    <key>15-199</key>
    <string>胸椎</string>
    <key>16-199</key>
    <string>颈椎</string>
    <key>17-199</key>
    <string>胸骨</string>
    <key>18-199</key>
    <string>骶骨&amp;尾骨</string>
    <key>19-199</key>
    <string>骶骨&amp;尾骨</string>
    <key>20-199</key>
    <string>枢椎</string>
    <key>21-199</key>
    <string>腰椎</string>
    <key>22-199</key>
    <string>肋骨</string>
    <key>23-199</key>
    <string>寰椎</string>
    <key>24-199</key>
    <string>隆椎</string>
    <key>25-199</key>
    <string>肾冠状切面</string>
    <key>26-199</key>
    <string>肾动脉</string>
    <key>2-15</key>
    <string>手关节</string>
    <key>2-14</key>
    <string>前臂骨连结</string>
    <key>2-13</key>
    <string>肘关节</string>
    <key>2-12</key>
    <string>肩关节</string>
    <key>2-10</key>
    <string>颞下颌关节</string>
    <key>2-11</key>
    <string>胸锁关节</string>
    <key>2-9</key>
    <string>胸廓</string>
    <key>3-31</key>
    <string>梨状肌和闭孔内、外肌</string>
    <key>3-32</key>
    <string>大腿肌内侧群</string>
    <key>3-33</key>
    <string>小腿肌</string>
    <key>3-35</key>
    <string>足底肌</string>
    <key>6-3</key>
    <string>肾和输尿管</string>
    <key>6-8</key>
    <string>男性膀胱和前列腺额状断面</string>
    <key>6-2</key>
    <string>肾与肋、椎骨的位置关系</string>
    <key>6-7</key>
    <string>膀胱</string>
    <key>6-6</key>
    <string>右肾的冠状切面</string>
    <key>6-1</key>
    <string>男性泌尿生殖系统</string>
    <key>003-4</key>
    <string>纵膈的分部</string>
    <key>5-20</key>
    <string>胸膜及肺的体表投影</string>
    <key>5-16</key>
    <string>胸膜和胸膜腔</string>
    <key>5-15</key>
    <string>肺纵膈面（右肺）</string>
    <key>5-14</key>
    <string>肺纵膈面（左肺）</string>
    <key>5-13</key>
    <string>气管、主支气管和肺</string>
    <key>5-12</key>
    <string>气管及主支气管</string>
    <key>5-11</key>
    <string>喉腔额状断面</string>
    <key>5-9</key>
    <string>喉肌</string>
    <key>5-7</key>
    <string>弹性圆锥</string>
    <key>5-6</key>
    <string>喉的软骨及连结</string>
    <key>4-22</key>
    <string>肝的膈面与脏面</string>
    <key>5-2</key>
    <string>鼻腔外侧壁</string>
    <key>5-1</key>
    <string>呼吸系统模式图</string>
    <key>4-23</key>
    <string>肝的后面观</string>
    <key>4-24</key>
    <string>胆囊</string>
    <key>4-25</key>
    <string>输胆管道模式图</string>
    <key>004-14</key>
    <string>Glisson系统和肝门静脉</string>
    <key>4-21</key>
    <string>肝的膈面与脏面</string>
    <key>4-20</key>
    <string>直肠和肛管</string>
    <key>4-19</key>
    <string>盲肠和阑尾</string>
    <key>4-18</key>
    <string>结肠的外观特征</string>
    <key>4-15</key>
    <string>胃的黏膜</string>
    <key>4-17</key>
    <string>小肠肠粘膜</string>
    <key>4-14</key>
    <string>胃的位置、形态、分部及毗邻</string>
    <key>4-13</key>
    <string>食管</string>
    <key>4-11</key>
    <string>鼻腔、口腔、咽和喉</string>
    <key>4-6</key>
    <string>舌肌</string>
    <key>4-7</key>
    <string>牙的构造</string>
    <key>4-9</key>
    <string>恒牙</string>
    <key>4-3</key>
    <string>口腔与咽峡</string>
    <key>4-2</key>
    <string>消化系统模式图</string>
    <key>3-42</key>
    <string>胸部标志线</string>
    <key>3-40</key>
    <string>胸腹部标志线</string>
    <key>3-16</key>
    <string>头肌</string>
    <key>3-6</key>
    <string>胸肌</string>
    <key>3-7</key>
    <string>前锯肌</string>
    <key>3-34</key>
    <string>小腿肌</string>
    <key>5-17</key>
    <string>胸膜及肺的体表投影</string>
    <key>5-18</key>
    <string>胸膜及肺的体表投影</string>
    <key>5-19</key>
    <string>胸膜及肺的体表投影</string>
    <key>3-2-10</key>
    <string>气管及主支气管</string>
    <key>5-8</key>
    <string>喉肌</string>
    <key>5-10</key>
    <string>喉肌</string>
    <key>3-41</key>
    <string>胸部标志线</string>
    <key>4-20a</key>
    <string>直肠和肛管</string>
    <key>3-17</key>
    <string>头肌</string>
    <key>190606-65</key>
    <string>手关节</string>
    <key>190606-66</key>
    <string>前臂骨连结</string>
    <key>190606-67</key>
    <string>肘关节</string>
    <key>190606-68</key>
    <string>肩关节</string>
    <key>190606-69</key>
    <string>颞下颌关节</string>
    <key>190606-70</key>
    <string>胸锁关节</string>
    <key>190606-71</key>
    <string>胸廓</string>
    <key>190606-72</key>
    <string>臀肌深层</string>
    <key>190606-73</key>
    <string>大腿肌内侧群</string>
    <key>190606-74</key>
    <string>小腿肌</string>
    <key>190606-75</key>
    <string>足底肌</string>
    <key>190606-76</key>
    <string>肾的位置</string>
    <key>190606-77</key>
    <string>小腿肌</string>
    <key>190606-78</key>
    <string>足底肌</string>
  </dict>
</dict>
</plist>